
#theme-btn {
font-size: 1.5rem;
cursor: pointer;
color: #596AFF;
}

#theme-btn:hover {
color: #BB86FC;
}
.changeTheme {
background-color: #1D1E22;
color: #eee;
}
.dark-mode{
background-color: black;
color: white;
}
.fa-moon{
    color: #f1c40f
  }
  .fa-sun{
    color: #f39c12;
  }