{% extends "base.html" %}
{% load static %}
{% block page_content %}

<head>
	<title>FossFinder</title>
	<style>
		.circle {
			display: inline-block;
			width: 300px;
			height: 300px;
			background-color: #888888;
			color: #FFFFFF;
			border-radius: 75%;
			text-align: center;
			vertical-align: middle;
			line-height: 100px;
			margin: 10px;
			cursor: pointer;
			transition: transform 0.2s ease-in-out;
			font-family: Arial, sans-serif;
			font-size: 35px;
			
		}
		.circle:hover, .circle.active {
			transform: scale(1.1);
		}
	</style>
</head>
<body>
	
	<a href="{% url 'WordProcessers' %}"><div class="circle"><br>Writing</div></a>
	<a href="{% url 'SpreadSheets' %}"><div class="circle"><br>Spreadsheets</div></a>
	<a href="{% url 'FileShare' %}"><div class="circle"><br>File Sharing</div></a>
	<a href="{% url 'AudioEditors' %}"><div class="circle"><br>Audio/DAW</div></a>
	<a href="{% url 'GraphicsEditors' %}"><div class="circle"><br>Graphics</div></a>
	<a href="{% url 'AntiVirus' %}"><div class="circle"><br>Antivirus</div></a>
	<a href="{% url 'Communication' %}"><div class="circle"><br>Social</div></a>
	<a href="{% url 'DiskBurners' %}"><div class="circle"><br>Disk Burning</div></a>
	<a href="{% url 'Multimedia' %}"><div class="circle"><br>Multimedia</div></a>
	<a href="{% url 'CodeEditor' %}"><div class="circle"><br>Coding</div></a>
	<a href="{% url 'OtherSoftware' %}"><div class="circle"><br>Other</div></a>

	<script>
		// Add click event listeners to all circle elements
		var circles = document.querySelectorAll('.circle');
		for (var i = 0; i < circles.length; i++) {
			circles[i].addEventListener('click', function(e) {
				// Prevent default anchor behavior when the circle is clicked
				e.preventDefault();
				// Toggle 'active' class on clicked element
				this.classList.toggle('active');
				// Navigate to the link destination after a short delay
				var href = this.parentElement.href;
				setTimeout(function() {
					window.location.href = href;
				}, 300);
			});
		}
	</script>

</body>
{% endblock %}