{% extends "base.html" %}
{% load static %}
{% load ratings %}
{% block page_content %}

<br>
<div class="row">
{% for SubmittedSoftware in SubmittedSoftwares %}
    <div class="col-md-4">
        <br>
        <div class="card" style="width: 22rem;">
            <div class="card-header">
                <h4 class="card-title">{{ SubmittedSoftware.name }}</h4>
              </div>
            <img class="card-img-top" src="{{ SubmittedSoftware.image }}">
            <div class="card-body">
                <p class="card-text">{{ SubmittedSoftware.description }}</p>


            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{% ratings SubmittedSoftware %}</li>
                <li class="list-group-item"><a href="{% url 'software_submit_detail' SubmittedSoftware.pk %}"
                    class="btn btn-primary">
                     View {{ SubmittedSoftware.name }}
                 </a></li>
              </ul>
        </div>
    </div>
    
    {% endfor %}
</div>
<br>
<br>
{% endblock %}