{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h2>About FOSS</h2>
<h4>Free and open-source software(FOSS) is software available to the public for use, modification and distribution.
    FOSS fosters collaboration and long-term sustainability. FOSS also plays a significant role because it's cost effective,
    flexible, innovative, secure and easily accessible. 
</h4>
<br>
<h2>Existing Solutions</h2>
<h4>Websites such as FOSSHub try to find open source software by providing a centeralized resource for information and downloading 
    popular forms of FOSS. However, the limitation to this is that FOSSHub only maintains listings for a relatively small number of programs 
    which fit a critera and focusing on the popular programs at that moment in time.  
</h4>
<br>
<h2>Who We Are</h2>
<h4>The people behind this project are college students that want to provide a useful resource to our peers. 
    We understand how important it is to on having free software as we pay for education. There are plenty of resources online
    to find free open software but with those, most of them, compare each listing to a paid version which isn't what we're looking for. 
</h4>
<h2>Contributors:</h2>
<h4>Rajeev Kambhatla<br>
    Jack Nishanian<br>
    Shane O'Loughlin<br>
    Sahith Konuganti<br>
    Ethan Laszlo<br>
</h4>

<h2>Note:</h2>
<h4>We would like to thank our lab instructor M M Imran for working hard for us. Thank you.</h4>

{% endblock %}